.team-section {
  background-color: $colorsecond-bg;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.team-title {
  display: block;
  margin-right: auto;
  margin-left: auto;

  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $colortitle-cl;
}
.team-img {
  width: 270px;
  height: auto;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: $coloralt-title-cl;
}
.team-img:last-child {
  margin-right: 0px;
}
.team-img-box {
  display: flex;
  margin-top: 50px;
}
.team-icon {
  display: flex;

  padding: 16px 30px 32px;
}

.team-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: rgba(175, 177, 184, 1);
  background-color: $coloralt-title-cl;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icons-svg {
  width: 20px;
  height: 20px;
}

.team-icon-link:hover,
.team-icon-link:focus {
  fill: $coloralt-title-cl;
  background-color: $coloraccent-cl;
}

.team-icon-item:not(:last-child) {
  margin-right: 10px;
}

.team-name {
  margin: 0px;
  margin-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: $colormain-text-cl;
}
.team-prof {
  margin: 0px;
  margin-top: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: $coloralt-text-cl;
}
