.footer-input {
  background-color: transparent;
  color: $coloralt-title-cl;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 20px;
  margin-right: 12px;
  padding-left: 16px;
}
.footer-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.icon-send {
  fill: $coloralt-title-cl;
  width: 25px;
  height: 25px;
}
.footer-send-container {
  flex-wrap: wrap-reverse;
  display: inline-flex;
  width: 570px;
  height: 86px;
}
